body {
  margin-top: 0;
  margin-left: 0;
  font-size: 20px;
  margin-right: 0;
  font-family: verdana;
}

.nav {
  overflow: hidden;
  background-color: #222;
}

.nav a {
  float: left;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.split {
  width: 50%;
  height: 100%;
  position: fixed;
}

.left {
  left: 0;
  background-color: #b1b1b1;
}

.right {
  right: 0;
  background-color: #b1b1b1;
}

.centered {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}