<!DOCTYPE html>
<html>
    <head>
        <title>Create Group</title>
        <link href="../static/css/createGroup.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <a href="/">We.J</a>
            <a href="/createGroup">Create Group</a>
            <a href="/availableGroups">Available Groups</a>
            <a href="/savedSongs">Saved Songs</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="container">
            <form action="/createGroupAuth" method="POST">
				<input type="text" name="GroupName" placeholder="Group Name" required><br>
				<input type="submit" value=Submit />
            </form>
            <div class="error">
		        {% if error %}
		            <p class="error"><strong>Error:</strong> {{error}}</p>
		        {% endif %}
	    	</div>
        </div>
    </body>
</html>