<!DOCTYPE html>
<html>
    <head>
        <title>Group Page</title>
        <script type="text/javascript" src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/lib/socket.io.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/groupPage.js')}}"></script>
    </head>
    <body>
    	<h1>{{ group }}</h1>
        <textarea id="chat" cols="50" rows="20"></textarea>
        <br>
        <div id="messageInput">
            <input type="text">
        </div>
        <br>
        <button id="leaveButton">Leave Group!</button>
        <br>
        <br>
        <div id="DJInput">
            <input type="text">
        </div>
        <div id="EmbeddedSong"></div>
    </body>
</html>