<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="../static/css/home.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <a href="/">We.J</a>
            <a href="/createGroup">Create Group</a>
            <a href="/availableGroups">Available Groups</a>
            <a href="/savedSongs">Saved Songs</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="content">
            <h1 align="center">We.J</h1>
            <center>Welcome to the We.J Homepage! Create or Join a Group to Get Started!</center>
        </div>
    </body>
</html>