<!DOCTYPE html>
<html>
    <head>
        <title>We.J</title>
        <link href="../static/css/index.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <a href="/">We.J</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <div class="content">
            <h1 align="center">We.J</h1>
            <center>We.J is an application that will allow a group of users with the same tastes in music to join a group and take turns sharing different songs within their respective genres</center>
        </div>
    </body>
</html>