<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
    	{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
        <form action="/registerAuth" method="POST">
        	<input type="email" name="email" placeholder="email" required></br>
        	<input type="password" name="password" placeholder="password" pattern=".{6,}" required title="6 characters minimum"></br>
        	<input type="submit" value=Register />
        	<a href="/login">Login</a>
        </form>
    </body>
</html>
